.info-component {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .left, .right {
    padding: 15px;
    color: white;

    svg {
      fill: $trimet-blue;
      min-width: 146px;
      max-width: 40%;
    }
  }

  .left {
  }

  .right {
    color: $trimet-blue;
    font-size: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
