$trimet-blue: #1F4C88;
$trimet-orange: #C25034;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import 'components/grid/grid.style';
@import 'components/header/header.style';
@import 'components/info/info.style';
